body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.title {
    font-size: 3rem;
    color: cornflowerblue;
    text-align: center;
}

.form-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-name label,
.form-name input,
.form-name button {
    margin: 5px 0;
}